@import url('https://fonts.googleapis.com/css2?family=Acme&family=Philosopher&family=Poppins:wght@400;500;600&display=swap');


  ::-webkit-scrollbar {
    width: 2px; /* You can adjust the width as needed */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 2px; 
  }
  

  

  
 